.container-end-of-training {
  margin-top: 90px;
}
.container-end-of-training h2 {
  margin: -60px auto 20px;
  color: var(--color-red);
}
.container-end-of-training h3 {
  margin: 5px auto;
}

.container-end-of-training .separator {
  margin-right: 5px;
}
.container-end-of-training .list-of-done-exercices {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.container-end-of-training .container-gif {
  margin: 30px 0;
  width: 100%;
  height: 0px;
  padding-bottom: 54%;
  position: relative;
}

.container-end-of-training .container-links {
  margin-bottom: 120px;
}

.container-end-of-training footer {
  position: fixed;
}
