.form-training {
  margin-bottom: 90px;
  border: none;
}
.form-training input[type="date"] {
  display: block;
  height: 26px;
  margin: 1px auto;
  padding: 0 10px;
  background-color: var(--color-grey);
  border-radius: 3px;
}
header.workout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  height: 50px;
  background-color: var(--color-grey);
}
.manual {
  border: 1px var(--color-active-link) solid;
  text-align: center;
  padding: 5px;
}
.container-exo {
  background-color: var(--color-dark-grey);
  margin: 65px 0;
  border-bottom: 1px var(--color-white) solid;
  transition: all 1s ease-out;
  max-height: 700px;
}
.container-exo.closed {
  transition: all 1s ease-in;
  max-height: 50px;
  overflow: hidden;
}
.container-exo h3 {
  padding: 2px 5px 2px 18px;
  background-color: var(--color-black);
  justify-content: space-between;
}
.container-exo h3 div {
  display: flex;
  align-items: center;
}
.container-exo h3 div .icon {
  margin: 10px;
  width: 19px;
  height: 19px;
}
.container-exo .unilateral-button {
  background-color: var(--color-dark-green);
  padding: 3px;
  margin: 3px;
  width: 55px;
}
.container-exo table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

.container-exo table thead th {
  font-size: 13px;
  padding: 4px 0;
}
.show-last-perf {
  display: block;
  margin: 5px auto;
  background-color: var(--color-dark-green);
  color: white;
}
.buttonsPlusMinusSeries {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.container-exo .buttonsPlusMinusSeries {
  border: none;
}

.container-exo tr {
  background-color: var(--color-light-gray);
}

.container-exo th,
.container-exo td {
  border: 1px solid var(--color-black);
  padding: 7px 1px;
  text-align: center;
}

.container-exo th .same-checkbox {
  all: revert;
  filter: invert(100%) hue-rotate(18deg) brightness(3.7);
  accent-color: var(--color-black);
}

/* .container-exo .container-input-unilateral .input-validation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} 
.container-exo
  .container-input-unilateral
  .input-validation:nth-child(2)
  input {
  border-top: 1px var(--color-white) solid;
} */
.container-exo td input[type="number"]::placeholder {
  color: grey;
  font-style: oblique;
  transition: color 0.3s ease-in-out;
}
.container-exo td input[type="number"] {
  max-width: 38px;
  height: 30px;
  font-size: 20px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  text-align: center;
  transition: border 0.5s ease-in-out;
}
.container-exo td input[type="number"]:hover {
  border: 1px var(--color-white) solid;
}
/* FULFILLED */
.container-exo tr.fulfilled {
  background-color: var(--color-grey);
}
.container-exo tr.fulfilled * {
  transition: all 1s ease-in-out;
}
.container-exo tr.fulfilled td {
  padding: 2px 1px;
}
.container-exo tr.fulfilled td input[type="number"] {
  max-width: 33px;
  height: 25px;
  font-size: 17px;
}
/* FULFILLED */
/* */
.form-training .container-cleannote-note {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
}
.form-training .note-exo {
  width: 100%;
  padding: 0 5px;
  height: 25px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  resize: vertical;
  background-color: var(--color-black);
}

.form-training .buttons-in-line .finish {
  margin: auto;
  display: block;
  background-color: var(--color-green);
  color: var(--color-white);
}
.form-training .buttons-in-line {
  display: flex;
}

.form-training .buttons-in-line .finish:first-child {
  border: 2px solid red;
}

.form-training .buttons-in-line .finish:last-child {
  border: 2px solid var(--color-active-link);
}

.container-finish {
  display: flex;
  justify-content: space-around;
}
.finish {
  background-color: var(--color-dark-green);
  padding: 3px;
  margin: 3px;
  width: 55px;
}
