.form-training {
  margin-bottom: 90px;
  border: none;
}
.form-training input[type="date"] {
  display: block;
  height: 26px;
  margin: 1px auto;
  padding: 0 10px;
  background-color: var(--color-grey);
  border-radius: 3px;
}
header.workout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  height: 50px;
  background-color: var(--color-grey);
}
.manual {
  border: 1px var(--color-active-link) solid;
  text-align: center;
  padding: 5px;
}
.container-exo {
  background-color: var(--color-dark-grey);
  margin: 15px 0;
  border-bottom: 1px var(--color-white) solid;
}
.container-exo h3 {
  padding: 2px 0;
  background-color: var(--color-black);
}
.container-exo .unilateral-button {
  background-color: var(--color-dark-green);
  padding: 3px;
  margin: 3px;
  width: 55px;
}
.container-exo table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

.container-exo table thead th {
  font-size: 13px;
  padding: 4px 0;
}
.show-last-perf {
  display: block;
  margin: 5px auto;
  background-color: var(--color-dark-green);
  color: white;
}
.buttonsPlusMinusSeries {
  display: flex;
  justify-content: space-between;
}
.buttonsPlusMinusSeries button {
  padding: 2px;
  border: 1px solid var(--color-active-link);
  min-width: 16px;
}

.container-exo th,
.container-exo td {
  border: 1px solid var(--color-black);
  padding: 4px 1px;
  text-align: center;
}

.container-exo th .same-checkbox {
  all: revert;
  filter: invert(100%) hue-rotate(18deg) brightness(3.7);
  accent-color: var(--color-black);
}

.container-exo .container-input-unilateral .input-validation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-exo
  .container-input-unilateral
  .input-validation:nth-child(2)
  input {
  border-top: 1px var(--color-white) solid;
}
.container-exo td input[type="number"]::placeholder {
  color: grey;
  font-style: oblique;
  transition: color 0.3s ease-in-out;
}
.container-exo td input[type="number"] {
  max-width: 33px;
  height: 25px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  text-align: center;
  transition: border 0.5s ease-in-out;
}
.container-exo td input[type="number"]:hover {
  border: 1px var(--color-white) solid;
}
.form-training .container-cleannote-note {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
}
.form-training .note-exo {
  height: 35px;
  width: 50%;
  margin: 0;
  border: none;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: var(--color-black);
  font-size: 15px;
  transition: width 0.5s ease-in;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-training .note-exo:hover {
  width: 100%;
}
.form-training .buttons-in-line .finish {
  margin: auto;
  display: block;
  background-color: var(--color-green);
  color: var(--color-white);
}
.form-training .buttons-in-line {
  display: flex;
}

.form-training .buttons-in-line .finish:first-child {
  border: 2px solid red;
}

.form-training .buttons-in-line .finish:last-child {
  border: 2px solid var(--color-active-link);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus-one {
  padding: 0 5px;
  border: 1px solid var(--color-active-link);
  border-radius: 10px;
  min-width: 16px;
  margin: 1px;
}

.container-finish {
  display: flex;
  justify-content: space-around;
}
.finish {
  background-color: var(--color-dark-green);
  padding: 3px;
  margin: 3px;
  width: 55px;
}
