.ReactModalPortal ul {
  margin: 10px;
}
.ReactModalPortal ul li {
  margin: 5px;
}
.ReactModalPortal ul li h3 {
  border: 1px black solid;
}
.ReactModalPortal ul li .times {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ReactModalPortal ul li .times input {
  width: 40px;
  background-color: var(--color-dark-grey);
  color: white;
}
.container-two-column {
  display: flex;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 15px 0;
  border-radius: 3px;
}
.container-two-column li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px black solid;
  padding: 2px;
  margin: 5px;
}

/* for confirm message : */
.confirmModal {
  background-color: var(--color-black);
  border-radius: 3px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 80%;
  height: auto;
}
.confirmModal * {
  color: var(--color-white);
  margin: 4px;
  text-align: center;
}
.confirmModal button {
  border: 1px solid var(--color-white);
}
