.challenge .hidden {
  max-height: 0;
  transition: max-height 0.9s ease-out;
  overflow: hidden;
}

.challenge .active {
  max-height: 350px;
  transition: max-height 0.9s ease-in;
  overflow: scroll;
}
