form,
.container-form form {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
.container-form form input[type="text"],
.container-form form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}
input::placeholder {
  color: var(--color-light-grey);
}
form input[type="submit"],
form button[type="submit"],
.container-form form button.add {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: var(--color-white);
}

.container-form h2,
form label {
  text-align: center;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.container-form form textarea {
  height: 70px;
}

.container-form form input[type="radio"] {
  margin-right: 5px;
}

.container-form form p.message-error {
  color: red;
}

.container-form form .option {
  display: flex;
  align-items: center;
}

/* NEW FAV LIST */
.container-new-fav-list .new-fav-list {
  background-color: var(--color-grey);
  border-radius: 5px;
  border: 1px solid var(--color-white);
  padding: 5px;
  margin: 10px 5px;
}

.container-new-fav-list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container-new-fav-list ul li {
  display: flex;
  align-items: center;
  margin: 2px 10px;
}

.container-new-fav-list .container-column {
  display: flex;
}

.container-new-fav-list .container-column .common,
.container-new-fav-list .container-column .custom {
  width: 50%;
}
