.workout-container {
  display: flex;
  margin: 10px 5px;
  justify-content: space-between;
  padding: 5px;
  color: var(--color-white);
  border-radius: 3px;
}
.color-0 {
  background-color: var(--color-light-grey-3);
}

.color-1 {
  background-color: var(--color-grey);
}
.workout-container .infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.workout-container .infos div {
  display: flex;
}
.workout-container .infos div h3 {
  text-align: inherit;
}
.workout-container .infos div img {
  margin-right: 10px;
}
.workout-container a {
  margin: 5px;
  padding: 0 15px;
  /*   background-color: var(--color-dark-green); */
  border: 2px var(--color-dark-green) solid;
  border-radius: 3px;
  background-color: rgba(125, 125, 125, 0.9);
}
.workout-container a img {
  transition: transform 0.2s ease;
}
.workout-container a:active img {
  transform: translateY(-10px);
}
.workout-container .perf {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  min-width: 110px;
}
