:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-white: rgba(218, 218, 218, 1);
  --color-light-grey: rgb(156, 156, 156);
  --color-grey: rgb(70 69 69);
  --color-dark-grey: rgb(45, 45, 45);
  --color-black: rgb(32, 28, 28);
  --color-dark-green: rgba(1, 107, 1, 1);
  --color-green: rgb(3 143 3);
  --color-red: rgb(199 0 0);
  --color-active-link: rgb(45, 170, 170);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

html,
body,
main {
  max-width: 800px;
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 10px;
}
h2 {
  margin: 10px;
}
h2,
h3 {
  text-align: center;
}

h3 {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 16px;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  all: unset;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  padding: 6px;
}
input {
  all: unset;
}
.container {
  padding: 5px;
  margin-bottom: 30px;
  border-bottom: 1px var(--color-white) solid;
}
.smaller-container {
  background-color: var(--color-grey);
  margin: 5px;
  padding: 5px;
}

.save {
  margin: 1px;
  color: var(--color-white);
  background-color: var(--color-dark-green);
}

.delete-button {
  padding: 2px;
  margin: 1px;
  color: var(--color-white);
  background-color: var(--color-red);
}

.back {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 5px;
}
