ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px var(--color-active-link) solid;
  padding: 1px;
  margin: 1px;
}
.ReactModalPortal > div > div {
  color: black;
}

.icon {
  width: 24px;
  height: 24px;
}
fieldset {
  margin: 2px;
  padding: 2px;
}
button {
  background-color: var(--color-active-link);
  margin: 5px;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.list-exo ul li {
  flex-direction: column;
  align-items: flex-start;
}
