.task .name-button {
  display: flex;
  justify-content: space-between;
}
.task .name-button button {
  border: 1px green solid;
}

.task .description-button {
  display: flex;
  justify-content: space-between;
}

.hidden {
  max-height: 0;
  overflow: hidden;
}
.active {
  max-height: 150px;
}

.task {
  margin: 5px;
  padding: 5px;
  border: 1px black solid;
}
