footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 60px;
}
nav {
  height: 100%;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
footer ul li,
footer ul li a {
  display: flex;
  align-items: center;
  height: 100%;
}

footer .active {
  color: var(--color-active-link);
  text-decoration: underline;
}

/* timer */
.footerTraining {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-grey);
  height: 80px;
}
.footerTraining button {
  background-color: var(--color-dark-green);
}

.footerTraining .timer,
.footerTraining .chronometer {
  display: flex;
  align-items: center;
}
.footerTraining .time {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}
.footerTraining .time .buttonsPlusAndMinus {
  display: flex;
}
.footerTraining .time input {
  max-width: 50px;
  margin-bottom: 8px;
  text-align: center;
  background-color: var(--color-dark-grey);
}
.footerTraining .time .time-chrono {
  font-size: 20px;
  margin-bottom: 8px;
}
.footerTraining .time p {
  font-size: 20px;
}

.footerTraining img {
  margin: 6px;
  width: 30px;
  height: 30px;
}

.footerTraining .icon.reset {
  width: 25px;
  height: 25px;
}
