footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 60px;
  border-top: 1px var(--color-white) solid;
}
nav {
  height: 100%;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
footer ul li,
footer ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

footer .active-link {
  color: var(--color-active-link);
  text-decoration: underline;
}
