/* .add-custom-task {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-custom-task div {
  margin-bottom: 10px;
}

.add-custom-task label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.add-custom-task input[type="text"],
.add-custom-task textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-custom-task textarea {
  height: 100px;
}

.add-custom-task input[type="radio"] {
  margin-right: 5px;
}

.add-custom-task p.message-error {
  color: red;
}

.add-custom-task button.add {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
 */
