.container-save-list .lists ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container-save-list .lists ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
}

.container-save-list .lists ul li .text-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  margin-right: 1px;
}
