/* .today-list {
}
 */
.today-list .item {
  border-bottom: 1px white solid;
  padding: 5px;
  margin: 5px;
}

.today-list .title-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.today-list .title-count h3 {
  width: 60%;
  overflow: hidden;
}
.today-list .title-count .count {
  width: 40%;
  /* overflow: hidden; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.today-list .title-count .count .container-count-unit {
  display: flex;
  align-items: baseline;
}

.today-list .title-count .count .container-count-unit .unit {
  width: 25px;
  overflow: hidden;
  font-size: 10px;
}
.today-list .title-count .count .container-count-unit input {
  max-width: 40px;
  border: 2px solid green;
}
.today-list .title-count .count button {
  margin: 2px;
  width: 37px;
  height: 25px;
  font-size: 10px;
}
.today-list .description-button {
  display: flex;
  justify-content: space-between;
}

.today-list .undo {
  border: 1px red solid;
}
