.react-calendar {
  max-width: 100%;
  background: var(--color-dark-grey);
  border: 1px solid #a0a096;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: 5px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-white);
}

.react-calendar__month-view__days {
  display: flex;
  flex-wrap: wrap;
}

.react-calendar__navigation {
  text-align: center;
}

.react-calendar__navigation button {
  color: var(--color-white);
  margin: 4px 2px;
  font-size: 1.2em;
  border: 2px black solid;
}

.react-calendar__month-view__days > button {
  overflow: hidden;
  box-sizing: border-box;
  margin: 3px 0;
  background-color: var(--color-light-grey);
  font-size: 1.2em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 5px 0;
  border: 1px black solid;
}

.react-calendar__month-view__days > .has-data {
  background-color: var(--color-green);
}
.react-calendar__month-view__days > .today {
  background-color: var(--color-black);
  color: var(--color-white);
}
