.modify-chall .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.container-improvements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.improvement {
  display: flex;
  align-items: center;
  width: 49%;
}
.improvement * {
  margin: 10px;
}
