button.save {
  margin: 2px;
  min-width: 35px;
  transition: background-color 0.8s ease-out;
}

.task .title-inputs .description-button {
  display: flex;
  justify-content: space-between;
}

button.undo {
  margin: 2px;
  min-width: 35px;

  transition: background-color 0.8s ease-out;
  background-color: var(--color-black);
  color: var(--color-white);
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-out;
}
.active {
  max-height: 1350px;
  transition: max-height 0.9s ease-in;
  overflow: scroll;
}

/* COMPOSANT FAVORITE LIST */
.favorite-lists {
  background-color: var(--color-grey);
  border-radius: 5px;
  border: 1px solid var(--color-white);
  padding: 5px;
  margin: 10px 5px;
}

.favorite-lists .excisting-favorites {
  border-radius: 5px;
  margin: 2px;
}
.favorite-lists .excisting-favorites ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
}

.favorite-lists .excisting-favorites ul li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  overflow: hidden;

  flex-direction: row-reverse;
  margin-right: 15px;
}

/* IMPROVE PAGE */
/* .task-stat-container .hero {
  width: 100px;
  text-align: center;
  border-radius: ;
}
 */
