.task-stat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task-stat-card {
  background-color: var(--color-grey);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-white);
  width: 30%;
}
.task-stat-card h3 {
  font-size: 20px;
  height: 50px;
  word-wrap: break-word;
  overflow: scroll;
}
.task-stat-card .img-explication {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.task-stat-card .img-explication img {
  margin-right: 5px;
}

.number {
  font-size: 23px;
  color: var(--color-green);
}

.task-stat-card .img-explication-score {
  border-top: 1px var(--color-white) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  height: 125px;
}
.task-stat-card .img-explication-score .icon-bigger {
  width: 45px;
  height: 45px;
}
.score {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
