.personal-record-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-green);
  margin: 25px;
  padding: 7px;
  border: 2px var(--color-active-link) solid;
  border-radius: 2px;
}

.page-workouts section {
  border-bottom: 1px var(--color-white) solid;
  padding: 0 10px 20px;
}

.input-and-icon {
  display: flex;
  align-items: center;
  width: 100%;
}

.list-exo {
  display: flex;
  flex-wrap: wrap;
}

.list-exo li {
  margin: 10px;
}

.exercices {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.title-training {
  margin-top: 150px;
}

.container-titles {
  display: flex;
  justify-content: space-between;
}
