.container-perso-exo {
  display: flex;
  align-items: center;
}
.list-exo {
  display: flex;
  flex-wrap: wrap;
}

.list-exo li {
  margin: 10px;
}

.exercices {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

/* icon */
.icon.play,
.icon.pause,
.icon.reset {
  margin: 0 5px;
}
.icon.play,
.icon.pause {
  width: 30px;
  height: 30px;
}
.icon.reset {
  width: 19px;
  height: 19px;
}
