.list-exo {
  display: flex;
  flex-wrap: wrap;
}

.list-exo li {
  margin: 10px;
}

.exercices {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.ReactModalPortal ul {
  margin: 10px;
}
.ReactModalPortal ul li {
  margin: 5px;
  padding: 30px;
  border: 1px black solid;
}
