.icon {
  width: 25px;
  height: 25px;
  transition: all 1s;
}
.add {
  width: 25px;
  height: 25px;
  transition: all 1s;
  background-color: unset;
  padding: 0;
}
.icon.question {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.rotate-right {
  transform: translateX(-10%) rotate(-90deg);
}
.rotate-down {
  transform: translateX(-10%) rotate(-0deg);
}
