.icon {
  width: 25px;
  height: 25px;
  transition: all 1s;
  cursor: pointer;
}
.add {
  width: 25px;
  height: 25px;
  transition: all 1s;
  background-color: unset;
  padding: 0;
}
.icon.question {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.rotate-right {
  transform: translateX(-10%) rotate(-90deg);
}
.rotate-down {
  transform: translateX(-10%) rotate(-0deg);
}

.icon.null {
  width: 15px;
  height: 15px;
  margin: 4px;
}
.icon.equal {
  margin: 2px 6px;
  width: 22px;
  height: 22px;
}
.icon.sad {
  width: 22px;
  height: 22px;
  margin: 0 3px;
}
.plus-one,
.minus-one {
  background-color: white;
  border-radius: 25px;
  width: 22px;
  height: 22px;
  margin: 2px 5px;
}
