/* timer */
.footerTraining {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-grey);
}
.footerTraining button {
  background-color: var(--color-dark-green);
}

.footerTraining .timer,
.footerTraining .chronometer {
  display: flex;
  align-items: center;
}
.footerTraining .time {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.footerTraining .time .buttonsPlusAndMinus {
  display: flex;
  flex-direction: column;
}
.footerTraining .time input {
  max-width: 40px;
  background-color: var(--color-dark-grey);
}

.footerTraining img {
  margin: 5px;
}

.footerTraining .icon.reset {
  width: 18px;
  height: 18px;
}
