.container-create-workout {
  margin-bottom: 30px;
}
.form-create-workout {
  background-color: var(--color-grey);
  margin: 0 15px;
}

.form-create-workout input {
  background-color: var(--color-black);
}
.drag-drop {
  background-color: var(--color-black);
  min-height: 100px;
  width: 95%;
  height: 85%;
  margin: 25px auto 10px auto;
  padding-bottom: 20px;
  overflow-y: scroll;
  border: 2px var(--color-dark-green) solid;
}

.drag-drop ul li {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 1px 5px;
}
.drag-drop ul li span {
  margin-right: 10px;
}
.drag-drop ul li .icon {
  margin-left: 15px;
}
.drag-drop .finish {
  margin: 30px auto;
  display: block;
  background-color: var(--color-green);
  color: var(--color-white);
}
